[submodule "Starscream"]
	path = Starscream
	url = https://github.com/daltoniam/Starscream.git
[submodule "SnapKit"]
	path = SnapKit
	url = https://github.com/SnapKit/SnapKit.git
[submodule "DataCompression"]
	path = DataCompression
	url = https://github.com/mw99/DataCompression.git
